<center><h1 class="display-1" >Mangas disponibles</h1></center>
<div class="row">
    <% if (productos.length > 0) { %>
    <% for (var i = 0; i < productos.length; i++) { %>
    <div class="col-sm-3">
        <div class="card text-center">
            <img src="<%- productos[i].thumbnail %>" class="card-img-top">
            <h5 class="card-title"><b> <%- productos[i].title %> </b></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%- productos[i].author %></h6>
            <h6 class="card-text"> $<%- productos[i].price %> </h6>
            <a href="/comprar/<%- productos[i].id %>" class="btn btn-outline-primary m-1">Comprar</a>
        </div>
    </div>
    <% } %>
    <%}
    else { %>
        <p> No hay productos disponibles </p>
        <% } %>
        
    </div>